.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container
{
  margin-left: 3em;
  width:100%

}
.coinHistory
{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .coinHeader
{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 14px;
  font-weight: bold;
}
.coinData
{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */
.rows{
  padding-top: 10px;
}
.main
{
  /* margin-top: 3em; */
  display:grid;
  grid-row-gap:1.5em
}
.coinData-items{
  font-size: 14px;  
}

.coinData-items:hover{
  background-color: green;  
}

.coinData-itemnumbers{
  font-size: 14px;
  
}

/* .img
{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap:2em
} */
span{
  font-size: 1.4em;
}

.coin
{
  display:grid;
  width: min-content;
  justify-items: center;
}
.coin h4{
  font-weight: bold;
  color:forestgreen;
  font-size: 1.4em;
}
