h1 {
  line-height: 50px;
}

.bg-light {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  /* color: black; */
  font-weight: bold;
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.text {
  text-align: center;
  font-family: open sans condensed, sans-serif;
  line-height: 50px;
}
p {
  /* text-align: center; */
  font-family: open sans condensed, sans-serif;
  font-size: "16px";
}
.container-body {
  width: 655px;
  margin: 0 auto;
}
.emptyportfolio-itemnumber {
  display: inline-block;
  border-bottom: 1px solid #ff8e13;
  width: 15px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  font-weight: 700;
  text-align: center;
}

.emptyportfolio-item,
.emptyportfolio-text {
  font-family: open sans condensed, sans-serif;
}
/* .portfolio-caution{
  text-align: center;
} */

.portfolio-button {
  text-align: center;
}

.btn {
  line-height: 50px;
}

.newsContainer {
  display: grid;
  grid-row-gap: 1em;
  background-color: ghostwhite;
  /* padding:10px; */
}

.news {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.2em;
  font-size: 14px;
  padding:10px;
}
.newsContent {
  display: -moz-inline-grid;
}
p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.newsContent h4 {
  margin: 0px;
  box-sizing: border-box;
  color: #ff8e13;
  font-size: 13px;
  text-transform: capitalize !important;
}
.newsContent a {
  margin: 0px;
  color: #337ab7;
  text-decoration: none;
}
.newsContent h3 {
  margin: 0px;
  font-size: 18px;
}

.categories {
  margin-top: 2px;
  color: #999999;
  font-size: 13px;
  margin-top: 0.5em;
}
.newstag{
  color:#53ba9e;
  font-weight:bold;
  font-size:13px;
  font-family: sans-serif;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.footerButoon {
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  font-size:13px;
}
.button {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.upvote button {
  text-decoration: none;
  border: none;
}
.downvote button {
  text-decoration: none;
  border: none;
}

.md-button.md-raised {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button {
  height: 30px;
  /* min-width: 10px ; */
  line-height: 20px;
  padding: 8px;
  width: 30px;
  border-radius: 50%;
  border: 0;
}

.fa {
  height: 1em;
  margin: auto;
  /* margin-bottom:2px; */
}
.card-deck {
  /* -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0px; */
  margin-left: 30px;
  margin-top: 25px;
}
.card-header {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  color: #396aab;
}

.container {
  margin-top: 1em;
  margin-bottom: 1em;
}
.table {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  /* padding: 0.5rem 1.25rem; */
  color: #396aab;
}
.emptyButton {
  margin-bottom: 2em;
}
.emptyExplanation {
  font-size: 10px;
  font-style: italic;
  color: #666666;
  font-family: sans-serif;
  margin: 5px 0px 0px;
}
